@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-secundaria: #DBE2EF;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(#000000, #9e00ff);
    color: var(--cor-secundaria);
}

.header__menu ul {
    display: flex;
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    color: var(--cor-secundaria);
    gap: 60px;
    padding: 2% 20%;
}

.header__menu ul li a {
    text-decoration: none;
    color: var(--cor-secundaria);
}

.main-container {
    height: 100%;
    padding: 5% 10% 2.5% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.home {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.home__title {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    padding: 5%;
}

.home img {
    border-radius: 50%;
    padding: 5%;
    width: 25%;
}

.about {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-align: center;
    padding: 0% 10%;
}

.title {
    font-family: var(--fonte-primaria);
    font-size: 2rem;
    text-align: center;
}

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    gap: 40px;
}

.project img {
    border-radius: 10px;
    width: 25rem;
    padding: 5%;
}

.description ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.certificates-container ul {
    padding-top: 5%;
}
.certificates-container ul li {
    padding: 5px;
    margin: 5px;
}

.certificates-container ul li a{
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font: 1rem;
    text-decoration: none;
}

.contact__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.contact__links a img {
    width: 2rem;
}

.contact__links a img:hover {
    transform: scale(1.1);
}

footer {
    padding: 24px;
    color: var(--cor-secundaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 400;
}
